name: Deploy SpotPrint-server

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy_main:
    if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request' && github.base_ref == 'main'
    name: Deploy to Staging Server
    runs-on: [self-hosted, Linux, ARM64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy project to CloudPanel directory
        run: |
          cp -ar . /home/spotprint-staging-server/htdocs/staging.server.spotprint.co.uk/
          cd /home/spotprint-staging-server/htdocs/staging.server.spotprint.co.uk/
          rm -rf .git*

      - name: Install Laravel dependencies + set env
        run: |
          cd /home/spotprint-staging-server/htdocs/staging.server.spotprint.co.uk/

          php -v

          # Overwrite env
          php -r " copy('.env', '.env'); "

          export COMPOSER_ALLOW_SUPERUSER=1
          /usr/bin/php8.3 /usr/local/bin/composer install --optimize-autoloader --no-interaction

          # Permissions
          chown -R spotprint-staging-server:spotprint-staging-server .
          find . -type d -exec chmod 0755 {} \;
          find . -type f -exec chmod 0644 {} \;

          echo "Staging server deployment completed!"
